/*!***************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./app/page.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************/
.page_top__Dp7wK {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  overflow: hidden;
  padding: 200px 0;
}

.page_title__po7na {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
}

.page_description__lvaOp {
  text-align: center;
}

.page_bgimg__c4h1Z {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 600px;
  object-fit: cover;
  object-position: right;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

.page_news__BZbkH {
  position: relative;
  background-color: #fff;
  width: 840px;
  margin: -40px auto 0;
  padding: 24px 40px;
  border-radius: var(--border-radius);
}

.page_newsTitle__Uu02M {
  font-size: 1.5rem;
}

.page_newsLink__wyynS {
  position: absolute;
  right: -40px;
  bottom: -40px;
}

@media (max-width: 640px) {
  .page_top__Dp7wK {
    padding: 120px 16px;
  }
  .page_title__po7na {
    font-size: 2rem;
    text-align: left;
  }

  .page_description__lvaOp {
    text-align: center;
    font-size: 0.9rem;
    text-align: left;
  }

  .page_bgimg__c4h1Z {
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    height: 600px;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
  }

  .page_news__BZbkH {
    width: calc(100% - 32px);
    padding: 16px 24px;
  }

  .page_newsLink__wyynS {
    position: relative;
    right: auto;
    bottom: auto;
    margin-top: 16px;
  }
}
